{% extends "base.html" %}
{% block content %}
<h3>Welcome to the SpongeBob fan page</h3>
<p>This is a fan page dedicated to telling you all about the Nickelodeon television program SpongeBob SquarePants</p>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FbQjCdxNVZdw%2Fmaxresdefault.jpg&f=1&nofb=1"
    height='180' width='320'>
<hr style='color:rgb(0, 0, 0)'>
<p><strong>SpongeBob SquarePants</strong> is a famous T.V. series that airs on Nickelodeon. It has ran since 1999 with
    Help Wanted and is still airing today. It has a total of 248 ordered episodes with 180 aired. It is Nick's longest
    series surpassing Rugrats. The series shows the adventures of Spongebob Squarepants, Patrick Star, Sandy Cheeks,
    Squidward Tentacles, Eugene Krabs, Plankton, Gary, and lots of other fish living under the sea. It takes place in
    Bikini Bottom, a town which population has changed over the year with different citizens moving in and out because
    of different events including global warming, destruction, or even some push factors.</p>
{% endblock  %}